@model IEnumerable<Lab6.Models.Account>

@{
    ViewData["Title"] = "Accounts";
}

<h2>Accounts</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <img src="@item.Avatar" height="100px" width="100px" style="object-fit: cover"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Email)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.About)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <span> | </span>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <span> | </span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
